<h1>Approve Appointment</h1>

<select (change)="getAppointments($event)" name="center">
    <option *ngFor = "let c of centers" value={{c.id}}>{{c.name}}</option>
</select>


<table>
    <tr>
        <th>Appointment Id</th>
        <th>User Id</th>
        <th>Test</th>
        <th>Date Time</th>
        <th>Action</th>
    </tr>
    <tr *ngFor = "let a of showappointments">
        <td>{{a.id}}</td>
        <td>{{a.userId}}</td>
        <td>{{a.test.name}}</td>
        <td>{{a.dateTime}}</td>
        <td><input type="submit" (click)="approve(id)" value="Approve"></td>
        <td><input type="hidden" #id value={{a.id}}></td>
    </tr>
</table>

