<div class="container">
<h2>Approve Appointment</h2>
<br>
<label class="control-label col-sm-2">Select Center</label>
<select (change)="getAppointments($event)" name="center">
    <option *ngFor = "let c of centers" value={{c.id}}>{{c.name}}</option>
</select>
<br>
<table class="table">
    <thead>
    <tr>
        <th>Appointment Id</th>
        <th>User Id</th>
        <th>Test</th>
        <th>Date Time</th>
        <th>Action</th>
    </tr>
    </thead>
    <tr *ngFor = "let a of showappointments">
        <th scope="row">{{a.id}}</th>
        <td>{{a.userId}}</td>
        <td>{{a.test.name}}</td>
        <td>{{a.dateTime}}</td>
        <td><input type="submit" (click)="approve(id)" value="Approve"></td>
        <td><input type="hidden" #id value={{a.id}}></td>
    </tr>
</table>
</div>